<!DOCTYPE html>

<html>
    <body style="background-image:linear-gradient(to right,rgb(141, 238, 141),#42c5f5);"></body>

    <head>
        <title>Classes</title>
        <link rel="stylesheet" 
                href="https://fonts.googleapis.com/css?family=Montserrat">
        <style>
            table, th, td {
            background-color: rgba(255, 255, 255, 0.2);
            border: 2px solid #ccc;
            text-align:left;
            font-size:20px;
            border-collapse: collapse;
            font-family: Montserrat;
            }
            #wrapper{
                text-align:center;
                width:90%;
            }
        </style>
    </head>

    <body>
        <p id="classes"></p>














        



        <script>
            var classdata = <%- JSON.stringify(classdata) %>
            let class_info = '<table id="wrapper"><thead><tr><th colspan="6">Homework</th></tr></thead><tbody><tr>'
            class_info += "<tr><td>Class</td><td>Assignments</td><td>Description</td><td>Submission Status</td><td>Due Date</td><td>Due in/Overdue by</td></tr>"
            for (let i = 0; i < classdata.length; i++) {
                class_info += '<tr><td rowspan="'+ classdata[i].assignments.length + '">' + classdata[i].classname + "</td>"
                for (let u = 0; u < classdata[i].assignments.length; u++) {
                    class_info += "<td>" + classdata[i].assignments[u].name + "</td>"
                    class_info += "<td>" + classdata[i].assignments[u].description + "</td>"
                    if (classdata[i].assignments[u].submission_status) {
                        class_info += "<td>" + "submitted!" + "</td>"
                    } else {
                        class_info += "<td>" + "not submitted :(" + "</td>"
                    }
                    const duedate = classdata[i].assignments[u].due_date
                    const duedateObject = new Date(duedate*1000)
                    class_info += "<td>" + duedateObject.toLocaleString() +"</td>"
                    const now_time = Date.now()
                    const nowtime = new Date(now_time)
                    const time_diff = (now_time - duedate*1000)
                    const days = (time_diff/1000/60/60/24)
                    const hours = (time_diff/1000/60/60)
                    if (time_diff > 0) {
                        if (days < 1) {
                            class_info += ("<td>Overdue by " + Math.round(hours) + " hours!</td>")
                        } else {
                            class_info += ("<td>Overdue by " + Math.round(days) + " days and " + Math.round(hours) + " hours!</td>")
                        }
                    } else {
                        if (days > -1) {
                            class_info += ("<td>Due in " + Math.round(-hours) + " hours.</td>")
                        } else {
                            class_info += ("<td>Due in " + Math.round(-days) + " days and " + Math.round(-hours) + " hours.</td>")
                        }
                    }
                    class_info += "</tr>"
                }
                
            }
            class_info += '</tr></tbody></table>'
            document.getElementById("classes").innerHTML = class_info
            //document.write(class_info)
        </script>
    </body>
</html>