<!DOCTYPE html>
<html>
    <head>
        <title>Assignment Sucessful!</title>
    </head>

    <body>
        <h1>Assignment Successful</h1>
        <a href="classes">Click here to confirm and return to classpage.</a>
    </body>
</html>