<!DOCTYPE html>
<html>
    <body style="background-image:linear-gradient(to right,rgb(141, 238, 141),#42c5f5);"></body>

    <head>
        <title>Assignment Sucessful!</title>
    </head>

    <body>
        <h1>Assignment Successful</h1>
        <a href="classes">Click here to confirm and return to classpage.</a>
    </body>
</html>